.input-control {
  width: 97%;
  height: 40px;
  outline: none;
  padding: 15px;
  border: thin solid lightgrey;
  border-radius: 3px;
  margin-bottom: 18px;
  margin-top: 18px;
  color: #9ca8b4;
  box-sizing: border-box;
}

.text-area-control {
  width: 97%;
  height: 80px;
  padding: 15px;
  outline: none;
  border: thin solid lightgrey;
  border-radius: 3px;
  resize: none;
  color: #9ca8b4;
  box-sizing: border-box;
  font-family: inherit;
}

.text-area-section {
  position: relative;
  display:inline-block;
  width: 100%;
  margin-bottom: 18px;
}

.text-area-section .char-count {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 12px;
  font-weight: 400;
}

.modal-content textarea::placeholder {
  color: #c6c6c6;
}

.modal-content input::placeholder {
  color: #c6c6c6;
}

.purchased-checkbox-section {
  color: #c6c6c6;
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.purchased-checkbox-section input[type=checkbox] {
  height: 15px;
  width: 15px;
}

.purchased-checkbox {
  margin-right: 5px;
}
