.input-control {
  width: 97%;
  height: 40px;
  outline: none;
  border: thin solid lightgrey;
  border-radius: 3px;
  margin-bottom: 18px;
  margin-top: 18px;
  color: #9ca8b4;
}

.text-area-control {
  width: 97%;
  height: 80px;
  outline: none;
  border: thin solid lightgrey;
  border-radius: 3px;
  resize: none;
  color: #9ca8b4;
}

.text-area-section {
  position: relative;
  display:inline-block;
  width: 100%;
  margin-bottom: 18px;
}

.text-area-section .char-count {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 12px;
  font-weight: 400;
}

.modal-content textarea::placeholder {
  padding-top: 10px;
  padding-left: 8px;
  color: lightgrey;
}

.modal-content input::placeholder {
  color: lightgrey;
  padding-left: 8px;
}

.select-control {

}