.dark-back-ground {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.modal-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 400px;
  height: 210px;
  background: white;
  color: white;
  z-index: 10;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.25);
  text-align: left;

  &__new-create-modal {
    width: 560px;
    height: 600px;
  }
}

.create-edit-banner {
  height: 45px;
  width: 100%;
  background-color: #f1f3f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-icon {
  padding-right: 8px;
  color: #2c3e50;
}

.banner-icon:hover {
  color: #c6c6c6;
  cursor: pointer;
}

.banner-text {
  color: #2c3e50;
  margin-left: 15px;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
}

.modal-content {
  padding: 15px;
  color: #2c3e50;
}

.modal-actions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.actions-container {
  display: flex;
  justify-content: end;
  align-items: center;
}

.modal-heading {
  margin: 0;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;

  &__new-create-dlg {
    margin-top: 0;
  }
}

.explain-text {
  margin: 0;
  color: #2c3e50;
  font-weight: 300;
  font-size: 14px;
  padding-top: 10px;

  &__new-create-dlg {
    padding-top: 5px;
    padding-right: 15px;
  }
}

.main-modal-button {
  margin-right: 20px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 2px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: #1871e8;
  transition: all 0.25s ease;
}

.main-modal-button:disabled {
  background-color: #9db9de;
}

.cancel-modal-button {
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  font-size: 0.8rem;
  border: none;
  color: #2c3e50;
  background: white;
  transition: all 0.25s ease;
}
